<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="log.async" xsi:type="AsyncWrapper">
      <target name="log" xsi:type="File" fileName="ddnspod.log" encoding="utf-8" layout="==[${level}]==[${date:format=yyyy-MM-dd HH\:mm\:ss}]=======${newline}${message}${newline}${exception:format=ToString,StackTrace:innerFormat=ToString,StackTrace}${newline}==============="/>
    </target>
    <target name="info.async" xsi:type="AsyncWrapper">
      <target name="info" xsi:type="File" fileName="ddnspod.info" encoding="utf-8" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}] ${message}"/>
    </target>
  </targets>

  <rules>
    <logger name="*" writeTo="log" levels="Error,Fatal,Warn,Debug,Trace" />
    <logger name="*" minLevel="Info" writeTo="info" />
  </rules>
</nlog>
